* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#body{
  font-family: 'Noto Sans', sans-serif;
}
/* NAV */
.menu-main-mobile {
    width: 50%;
    height: 50vh;
    background-color: #303030;
    right: 0;
    top: 95px;
    display: flex;
    transform: translateX(200%);
    transition: .5s;
    position: fixed;
    z-index: 2300;
    padding: 10px;
    opacity:.8;

}
.Menu-main-mobile-active {
    transform: translateX(0);
    transition: .5s;
}
.menu-main-mobile ul {
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}
.menu-main-mobile ul li {
    flex: 1;
    display: flex;
    justify-content: center;
}
.menu-main-mobile ul li a {
    flex: 1;
    padding: 10px;
    display: flex;
    text-decoration: none;
    justify-content: center;
    margin: auto 0;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}
.nav {
    width: 100%;
    height: 95px;
    top: 0;
    position: fixed;
    background-color: #303030;
    z-index: 2500;
    opacity: .8;
}
.nav-container {
    width: 90%;
    height: 100%;
    display: flex;
    margin: auto;
    justify-content: space-between;
}
.nav .nav-container .nav-logo {
    flex: 2;
    display: flex;
}
.nav .nav-container .nav-logo p {
    margin: auto 0 auto 10px;
    color: #ffffff;
    font-size: 28px;
}
.nav .nav-container .nav-menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.nav-menu-big {
    display: none;
}
.nav .nav-container .nav-menu-mobile {
    margin: auto 10px auto 0;
}
.nav .nav-container .nav-menu-mobile #hamburger {
    height: 60px;
    width: 60px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.nav .nav-container .nav-menu-mobile #hamburger span {
    display: block;
    width: 100%;
    height: 6px;
    position: absolute;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .5s;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .20);
    cursor: pointer;
}
.nav .nav-container .nav-menu-mobile #hamburger span:nth-child(1) {
    transform: translate(-50%, -50%) translateY(-15px);
    transition: .2s;
}
.nav .nav-container .nav-menu-mobile #hamburger span:nth-child(4) {
    transform: translate(-50%, -50%) translateY(15px);
    transition: .2s;
}
.nav .nav-container .nav-menu-mobile #hamburger.active span:nth-child(1) {
    transform: translate(-50%, -50%) translateY(-30px);
    opacity: 0;
}
.nav .nav-container .nav-menu-mobile #hamburger.active span:nth-child(4) {
    transform: translate(-50%, -50%) translateY(30px);
    opacity: 0;
}
.nav .nav-container .nav-menu-mobile #hamburger.active span:nth-child(2) {
    transform: translate(-50%, -50%) rotate(45deg);
    transition-delay: .2s;
}
.nav .nav-container .nav-menu-mobile #hamburger.active span:nth-child(3) {
    transform: translate(-50%, -50%) rotate(-45deg);
    transition-delay: .2s;
}

/* KONIEC NAV */
/* HEADER */
.header {
    width: 100%;
    height: 100vh;
    position: relative;
}
.header .header-content {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2200;
    display: flex;

}
.header .header-content .header-content-main {
    margin: auto auto auto 100px;
}
.header .header-content .header-content-main .p-header-one {
    margin-top: 50px;
    font-size: 17px;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 2.4px;
    padding: 10px 0;
}
.header .header-content .header-content-main p {
    text-transform: uppercase;
    font-size: 36px;
    padding-bottom: 30px;
    opacity: 22;
    color: #ffffff;
}
.header .header-content .header-content-main b {
    color: #7b6c63;
}
.header .header-content .header-content-main .header-button {
    width: 220px;
    height: 60px;
    background: none;
    position: relative;
    cursor: pointer;
    border: 2px solid gray;
    border-radius: 2%;
    overflow: hidden;

}
.header .header-content .header-content-main .header-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    transition: .5s;
    transform: translateX(-100%);
    background-color: gray;
    opacity: .6;

}
.header .header-content .header-content-main .header-button::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 100%;
    height: 50%;
    transition: .5s;
    transform: translateY(-200%);
    background-color: gray;
    opacity: .6;

}
.header .header-content .header-content-main .header-button:hover:before,
.header .header-content .header-content-main .header-button:hover:after {
    transform: translateZ(0);
    transform: translateX(0);
}
.header .header-content .header-content-main .header-button p {
    font-size: 20px;
    color: white;
    padding: 0;
}
.main-banner {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    /*     opacity:.5; */
}
.main-banner .img-ban {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    transition: all ease-in-out 500ms;
    display: flex;

}
.main-banner #img-ban3 {
    background-image: url(img/background.png), url(img/Header_first.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-banner #img-ban2 {
    background-image: url(img/background.png), url(img/HEADER-second.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-banner #img-ban1 {
    background-image: url(img/background.png), url(img/HEADER-third.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.header-dots {
    position: absolute;
    z-index: 2200;
    right: 50px;
    top: 50%;
    display: flex;
    height: 60px;
    width: 30px;
    justify-content: space-between;
    flex-direction: column;

}
.header-dots .glob {
    height: 15px;
    width: 15px;
    border: 2px solid gray;
    border-radius: 50%;
    cursor: pointer;
}
.header-dots .on {
    background-color: white;
}
/* about us */
.about-us{
    width: 100%;
    height:100%;
    display:flex;
    flex-direction: column;
    
}
.about-us-top{
   display:flex;
    width:470px;
    height:200px;
    flex-direction: column;
    justify-content: space-between;
    margin:100px auto 40px auto;
}
.about-us-top h1{
    text-align: center;
color: #7b6c63;
font-size: 30px;
text-transform: uppercase;
letter-spacing: 2px;
}
.about-us-top .span-k{
    width: 76px;
height: 6px;
    margin:0 auto;
background-color: #7b6c63;
}
.about-us-top p{
    text-align: center;
color: #212121;
font-size: 18px;
letter-spacing: 0.9px;
}
/*about us content*/
.about-us-content{
    margin-top:90px;
    width:100%;
    height:100%;
    display:flex;
    flex-direction: row;
        background-color: #f4f7f9;
}
.about-us-content .text{
    padding-top:50px;
    width:50%;
}
.about-us-content .img{
    position: sticky;
    top:0;
    width:50%;
    height:100vh;
    background-image:url(img/HEADER-second.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.about-us-content .text h2 b{
        color: #7b6c63;
}
.about-us-content .text h2{
    padding:30px;
    text-align: center;
    font-size:40px;
    text-transform: uppercase;
letter-spacing: 2px;
}
.about-us-content .text p{
    /* text-align: center; */
    font-size:20px;
    padding:40px;

}
.about-us-content .about-us-button {
        margin:50px;
    background:none;
    border:none;
    border:3px solid #7b6c63;
    position:relative;
}
.about-us-content .about-us-button::after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#7b6c63;
    cursor:pointer;
    transition:1s;
    opacity:0;
}
.about-us-content .about-us-button:hover::after{
    opacity:.5;
}
.about-us-content .about-us-button p{
    cursor:pointer;
    font-size:20px;
    padding:10px;
    
}
.about-us-content .about-more-text{
   display:none; 
}
/* projekty */
.projects{
    width:100%;
    height:120vh;
    margin-top:50px;
    flex-direction: column;
    display:flex;

}
.projects-pro{
    flex:3;
}
.projects-pro .projects-pro-box{
    width:100%;
    height:100%;
    background-color:green;
    display:flex;
    position:relative;
           overflow: hidden;
}
.box-one{
    flex:1;
    transition-timing-function:ease-in-out;
    transition:2s;
    display: flex;
    position: relative;
}
.box-one:hover{
    transition: flex 1s;
    flex:4;
}
.box-one:hover .glob-content{
    display:flex;
}
.box-one:hover .glob-title{
    display:none;
}
.box-one::before{
    content:"";
    top:0;
    left:0;
    width:100%;
    height:100%;
    position:absolute;
    background-image: url(img/projekty-one.png);
        background-size: cover;
    background-position: center;
}
.box-one:hover:before{
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
/* logo na obrazu */
.glob-title{
width:100%;
    height:100%;
 display:flex;
    flex-direction: column;
    justify-content: flex-end;
    padding:40px;
}
.glob-title h2{
      color: #7b6c63;
    font-size:20px;
    margin:0;
    padding:5px 0;
    width:120px;
    height:40px;
    text-align: center;
    background-color:red;
    border-radius:5% 5%;
    opacity:.7;
}
.box-three-content-title h2{
    background-color:blue;
}
.box-two-content-title h2{
    background-color:yellow;
}
.glob-content{
    width:100%;
    max-width: 700px;
height:400px;
    display:none;
    margin:auto;
   z-index: 2;  
    background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4);
    animation-name:anime;
    animation-duration: 2s;
         animation-iteration-count:1;
}
@keyframes anime{
    0%{
        opacity:0;
    }
    20%{
        opacity:0;
    }
    40%{
        opacity: .3;
    }
    60%{
        opacity.7;
    }
    100%{
        opacity:1;
    }
}
.glob-content p{
    flex:1;
    padding:10px;
    color:white;
}
.glob-content ul{
    flex:1;
    margin:20px 0 0 50px;
    padding:20px;
    color:white;;
}
.glob-content li{
    padding:10px;
}
.box-two{
     flex:1;
    transition-timing-function:ease-in-out;
    transition:2s;
    display: flex;
    position: relative;
}
.box-three{
      flex:1;
    transition-timing-function:ease-in-out;
    transition:2s;
    display: flex;
    position: relative;
}
.box-two:hover{
    transition: flex 1s;
    flex:4;
}
.box-two:hover .glob-content{
    display:flex;
    
}
.box-two:hover .glob-title{
    display:none;
}
.box-two::before{
    content:"";
    top:0;
    left:0;
    width:100%;
    height:100%;
    position:absolute;
    background-image: url(img/projekt-two.png);
        background-size: cover;
    background-position: center;
}
.box-two:hover:before{
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
.box-three:hover{
    transition: flex 1s;
    flex:4;
}
.box-three:hover .glob-content{
    display:flex;
}
.box-three:hover .glob-title{
    display:none;
}
.box-three::before{
    content:"";
    top:0;
    left:0;
    width:100%;
    height:100%;
    position:absolute;
    background-image: url(img/projekt-three.png);
        background-size: cover;
    background-position: center;
}
.box-three:hover:before{
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
/*logo projektow */
.projects .projects-logo {
    z-index: 3;
flex:1;
    display:flex;
   margin:100px auto 50px auto;
    flex-direction: column;
}
.projects .projects-logo .projects-logo-box{
   width:100%;
    height:100px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.projects .projects-logo h3{
     text-align: center;
color: #7b6c63;
font-size: 30px;
text-transform: uppercase;
letter-spacing: 2px;
}
.projects .projects-logo .span-projects{
    width: 76px;
height: 6px;
    display:flex;
    margin:0 auto;
background-color: #7b6c63;
}
/* gallery */
.gallery{
    margin-top:100px;
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
}
.gallery-container{
    width:100%;
    max-width: 500px;
    height:100%;
    margin:0 auto;
}
.gallery-container .span-projects{
    width: 76px;
height: 6px;
    display:flex;
    margin:0 auto;
background-color: #7b6c63;
}
.gallery-container p {
    padding:20px;
    text-align: center;
         color: #7b6c63;
}
.gallery-container h5{
        padding:30px;
    text-align: center;
    font-size:40px;
    text-transform: uppercase;
letter-spacing: 2px;
     color: #7b6c63;
}
.gallery-menu{
    margin-top:20px;
    width:100%;
    height:60px;
}
.gallery-menu ul{
    margin:auto;
    width:450px;
    display:flex;
    list-style-type: none;
    justify-content: space-between;
}
.gallery-menu ul li{
    flex:1;
        text-align: center;
}
.gallery-menu ul li button{
    text-decoration: none;
color: #062033;
font-size: 18px;
font-weight: 700;
    color:black;
    background:none;
    border:none;
    cursor:pointer;
    padding:5px;
    outline: none;

}
.gallery-menu ul li button:hover{
      background-color: #7b6c63;
        color:#ffffff;
    border-radius:14%;
}
.gallery-menu ul li .gallery-active{
   background-color: #7b6c63;
        color:#ffffff;
    border-radius:14%;
}
/*gallery-images */
.gallery-img-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #7b6c63;
    width:100%;
    height:100%;
    position: relative;
}
.gallery-img-container .img-container {
    margin:20px;
    height:300px;
    width:400px;
    cursor:pointer;
    background:transparent;

}
.number-of-img{
    display:none;
}
.gallery-img-container .img-container .glob-img{
    height:300px;
    width:400px;
    transition:1s ease-in-out;
   
}
.gallery-img-container .img-container .glob-img:hover{
   box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.4), 0 8px 28px 0 rgba(0, 0, 0, 0.29);
    transition:1s;
}
.button{

    width:40px;
    height:40px;
    position:relative;
    display:none;
    cursor:pointer;
}

/* for js after click */

.gallery-img-container .image-on-click{
    height:80%;
    width:80%;
    transition:2s;
    margin:auto;
border:2px solid white;
    z-index: 5001;
    cursor:default;
box-shadow: 117px 200px 300px 200px rgba(30,0,14,0.8);
}
.gallery-img-container .background-fixed{
position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100vh;
    margin:0;
    z-index: 5000;
    display:flex;
cursor:default;

    background:rgba(0,0,0,.2);
}
.body-no-scroll{
    overflow: hidden;
}
.button-active{
    display:block;
    position:fixed;
     top:10px;
    right:10px;
    z-index: 5006;  
}
.button-active::after,
.button-active::before{
    content:"";
        height:6px;
    width:100%;
    top:50%;
    background-color: white;
        transform: rotate(-45deg);
    position: absolute;
}
.button-active::before{
            transform: rotate(45deg);
}

/* MEDIA */
@media only screen and (max-width:320px) {
    .header .header-content .header-content-main .p-header-one {
        font-size: 14px;
    }
    .about-us-top h1{
        font-size:25px;
    }
    .projects .projects-logo{
        margin:10px auto 100px auto;
    }
    .projects .projects-logo h3{
        font-size:22px;
    }
   
}
@media only screen and (max-width:450px){
    .gallery-section-container{
        width:100%;
        height:300px;
        display:flex;
        overflow:hidden;
        position:relative;
    }
    .number-of-img{
        width:55px;
        height:30px;
        background-color:rgba(0,0,0,.5);
        position:absolute;
        color:white;
        z-index: 50000;
        bottom:10px;
        left:10px;
        font-size:17px;
        text-align: center;
        display:block;
    }
    .gallery-img-container{
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content:flex-start;
        width:1800%;
        height:300px;
        overflow-x: hidden;
        overflow-y: hidden;


    }
    .animatee{
                overflow-x: scroll;
        overflow-y: hidden;
                -ms-overflow-style: none;
        -ms-scroll-chaining: none;
         -ms-scroll-snap-type: mandatory;
         -ms-scroll-snap-points-x: snapInterval(0%, 100%);
          transition: transform 0.3s ease-out;
    }

    .gallery-img-container .img-container{
        margin:0;
        width:inherit;
        min-width:100%;
           transition: transform 0.3s ease-out;

        
    }
    .gallery-img-container .img-container .glob-img{
           width:inherit;
     width:100%;
        height:100%;

     
    }
}
@media only screen and (max-width:600px) {
    .header .header-content .header-content-main p {
        padding-left: 10px;
        font-size: 30px;
    }

    .header .header-content .header-content-main .header-button {
        display: flex;
        margin: 30px auto 0 auto;
    }

    .header .header-content .header-content-main .header-button p {
        margin: auto;
    }

    .header .header-content .header-content-main {
        margin: auto;
    }

    .header .header-content .header-content-main .p-header-one {
        text-align: center;
    }

    .header-dots {
        top: 90%;
        right: initial;
        left: 37%;
        flex-direction: row;
        width: 100px;
    }
    .about-us-top{
        width:100%;
        height:250px;
    }
    .about-us-top p{
        padding:0 10px;
    }
    .projects .projects-logo .projects-logo-box{
        height:130px;
    }
    .gallery-menu ul{
        width:100%;
    }
    .gallery-menu ul li button{
        font-size:14px;
        margin:5px;
    }
}
 @media only screen and (max-width:800px){

.about-us-content .text{
    width:100%;
    background-image: url(img/background.png), url(img/HEADER-second.png);
}
     
     .text-on{
         width:100%;
    background-image: url(img/background.png), url(img/HEADER-second.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
     }
.about-us-content .img{
 display:none;
 
    
}
     .about-us-content .text h2,p{
         color:white;
     }

}
@media only screen and (min-width:920px) {
    .nav-menu-mobile {
        display: none;
    }

    .menu-main-mobile {
        display: none;
    }

    .nav .nav-container .nav-menu {
        flex: 1;
        display: flex;

    }

    .nav-container {
        width: 70%;
    }

    .nav .nav-container .nav-logo {
        flex: 1;
    }

    .nav .nav-container .nav-logo p {
        font-size: 48px;
        margin: auto 0;
    }

    .nav-menu-big {
        width: 521px;
        height: 30px;
        display: flex;
        margin: auto;
    }

    .nav-menu-big ul {
        width: 100%;
        margin: auto 0;
        height: 100%;
        display: flex;
        justify-content: space-between;

    }

    .nav-menu-big ul li {
        flex: 1;
        display: flex;
        margin: auto;
        justify-content: center;
    }

    .nav-menu-big ul li a {
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        font-size: 12px;
        font-weight: 400;
        line-height: 30.07px;
        text-transform: uppercase;
        letter-spacing: 1.2px;
    }


}
@media only screen and (max-width:975px){
    .projects-pro .projects-pro-box{
        flex-direction: column;
        height:100%;
    }
    .glob-content{
    width:100%;
height:100%;
    display:none;
    margin:auto;
   z-index: 2;  
    background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4);
            font-size: 12px;
}
.glob-content p{
    flex:1;
    padding:5px;
    margin:auto;
    color:white;
}
.glob-content ul{
    flex:1;
display:flex;
    flex-direction: column;
    margin:auto auto auto 15px;
    padding:5px;
    color:white;;
}
.glob-content li{
    padding:5px;
}
    .projects .projects-logo {
   margin:auto;
}
.projects .projects-logo .projects-logo-box{
   width:100%;
    height:100px;

}

}
@media only screen and (max-width:1032px) {
    .nav-container {
        width: 80%;
    }
}
@media only screen and (max-width:1115px) {
    .nav .nav-container .nav-menu {
        flex: 2;
    }
}

